body{
	background-color: #F5F5DC;
}
#tops{/*改动搜索框位置*/
	margin-left: 33%;
}
input{/*搜索框边框和颜色*/
	border: solid red;
}
#kuan{/*输入框的宽和高*/
	width: 300px;
	height: 26px;
}
#colo{/*按钮的设置*/
	height: 33px;
	background-color: red;
	font-weight: 900;
	color: #696969;	
}
p{
	font-weight: 900;
}
span{
	color: red;
}
img{/*图片的宽高*/
	width: 280px;
	height: 400px;
}
ul {/*ul横向显示*/
	display: inline-block;
}
li{/*去掉列表前面的点*/
	list-style: none;
}
.fou{/*字的加粗和大小*/
	font-weight: 900;
	font-size: 12px;
}
.jie{
	font-weight: 900;
	font-size: 14px;
	color: red;
}

#q1 {/*横线的位置*/
	position: absolute;
	top:70px;
}
hr{
	width: 1300px;
}
#q2 {
	position: absolute;
	top:596px;
}
#q3 {
	position: absolute;
	top:1122px;
}
#tui{/*'推荐'的位置和字体的设置*/
	position: absolute;
	right: 55px;
	top:10px;
	font-weight: 900;
}
a{/*去掉链接的下划线*/
	text-decoration: none;
}
